<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Hello world</h1>
<h2 style="color: red;">i love you <%=name%></h2>
<s style="color: blueviolet;">your age is <%=age%></s>

<p style="display: block;background-color: yellow;border-radius: 1px; ">and the numers were : <%=numbers%></p>
<% if (name == "khaled") {%>
    <div>fuck youuuuuuu <%=name %></div>
    
<%} %>
</body>
</html>